<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669832167097-hka5qfl87b5uj1dge23b618bun24ct3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669832167097-hka5qfl87b5uj1dge23b618bun24ct3u</string>
	<key>API_KEY</key>
	<string>AIzaSyC2p7YH9jn8eEdnKe5UtLldXKJTclpwof4</string>
	<key>GCM_SENDER_ID</key>
	<string>669832167097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedshehata.LoginUser</string>
	<key>PROJECT_ID</key>
	<string>ali-login-app-7c08a</string>
	<key>STORAGE_BUCKET</key>
	<string>ali-login-app-7c08a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669832167097:ios:7460dde763528d11772568</string>
</dict>
</plist>